---
export interface Props {
  hostsAndGuests: Array<{
    id: string;
    img: string | null;
    isHost: boolean;
    name: string;
  }>;
}

const { hostsAndGuests } = Astro.props;

// URL prefix dari GCS public bucket
const GCS_IMAGE_BASE = 'https://storage.googleapis.com/nexus_demo/img-assets/people/';
const DEFAULT_LIGHT_AVATAR = 'https://storage.googleapis.com/nexus_demo/img-assets/people/avatar-light.png';
const DEFAULT_DARK_AVATAR = 'https://storage.googleapis.com/nexus_demo/img-assets/people/avatar-dark.png';

const priorityNames = ['RobbieTheWagner', 'Charles William Carpenter III'];
---

<h3 class="section-heading pb-6">Creators and Guests</h3>

<div class="mb-12 grid grid-cols-1 gap-4 lg:mb-20 lg:grid-cols-2">
  {
    hostsAndGuests
      .sort((a, b) => {
        const aPriorityIndex = priorityNames.indexOf(a.name);
        const bPriorityIndex = priorityNames.indexOf(b.name);

        if (aPriorityIndex !== -1 && bPriorityIndex !== -1) {
          return aPriorityIndex - bPriorityIndex;
        }
        if (aPriorityIndex !== -1) return -1;
        if (bPriorityIndex !== -1) return 1;

        if (a.isHost && !b.isHost) return -1;
        if (!a.isHost && b.isHost) return 1;

        return a.name.localeCompare(b.name);
      })
      .map((person) => (
        <div class="flex items-center">
          {person.img ? (
            <img
              class="mr-4 h-12 w-12 rounded-lg"
              height="48"
              width="48"
              src={`${GCS_IMAGE_BASE}${person.img}`}
              alt={person.name}
              loading="lazy"
            />
          ) : (
            <>
              <img
                class="mr-4 h-12 w-12 rounded-lg dark:hidden"
                height="48"
                width="48"
                src={DEFAULT_LIGHT_AVATAR}
                alt={person.name}
                loading="lazy"
              />
              <img
                class="mr-4 hidden h-12 w-12 rounded-lg dark:block"
                height="48"
                width="48"
                src={DEFAULT_DARK_AVATAR}
                alt={person.name}
                loading="lazy"
              />
            </>
          )}
          {person.name}
        </div>
      ))
  }
</div>